body{
    margin: 0;
    padding: 0;
    background-color:white;
}

.nav-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 70px;
    align-items: center;
    text-align: center;
}

.left-container{
    margin-left: 60px;
    display: flex;
    flex-shrink: 0;
}

.right-container{
    margin-right: 60px;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.header:hover .modal-button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

.image-container-header{
    height: 100vh;
}

.header-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: blur(0px);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.295);
}

.header-modal{
    position: absolute;
    top: 50%;
    left: 18%;
}

.nav-bar-button{
    background-color: transparent;
    border: none;
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: text-shadow 0.2s;
}

.cart{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: text-border 0.2s;
    margin-top: 10px;
}

.cart:hover{
    text-shadow: 1px 1px 2px black;
}

.nav-bar-button:hover{
    text-shadow: 1px 1px 2px black;
}

.middle-container{
    color: white;
    font-family: Dancing Script;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 1px 1px 4px black;
    margin-top: 0;
    cursor: default;
    margin-top: -15px;
}

.left-container{
    padding-left: 20%;
}

.right-container{
    padding-right: 20%;
}

.slogan{
    font-family: Dancing Script;
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 3px;
    cursor: default;
}

.modal-slogan{
    font-family: Open Sans;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 8px;
    margin-bottom: 15px;
    cursor: default;
    text-shadow: 1px 1px 1px black;
}

.modal-button{
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Open Sans;
    letter-spacing: 3px;
    font-weight: bold;
    transition: background-color 0.4s;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
}

.featured-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.featured-title{
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4px;
    color: rgb(37, 35, 65);
    margin-bottom: 55px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(158, 105, 26, 0.603);
    padding-bottom: 8px;
    padding-bottom: 0px;
    cursor: default;
}

.featured-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    margin-bottom: 50px;
}

.featured-product{
    width: 375px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
    transition: border-radius 0.4s;
    transition: background-color 0.3s;
}

.image-container-featured{
    height: 300px;
    width: 100%;
    position: relative;
}

.featured-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: border-radius 0.4s;
    transition: background-color 0.3s;
}

.featured-product:hover .featured-image{
    border-radius: 0px;
}

.featured-product:hover{
    border-radius: 0 0;
}

.bottom-container-featured{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-name{
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-size: 16px;
    color: rgb(68, 68, 68);
    cursor: pointer;
}

.featured-price{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-weight: lighter;
    font-size: 15px;
    font-weight: bold;
    color: rgb(158, 105, 26);
    cursor: default;
}

.featured-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.image-container-featured:hover .featured-modal{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.404);
}

.add-cart-featured{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
}

.search-button-featured{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 10px;
}

.more-products{
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    border-style: none;
    border-width: 2px;
    background-color: rgb(180, 121, 31);
    color: white;
    font-family: Open Sans;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.more-products:hover{
    background-color: rgb(197, 138, 49);
    color: black;
}

.page-info{
    margin-bottom: 50px;
}

.sales-banner{
    height: 450px;
    position: relative;
}

.sales-banner:hover .sales-button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

.sales-img{
    height: 450px;
    width: 100%;
    object-fit: cover;
    filter: blur(0px);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.295);
}

.banner-modal{
    position: absolute;
    top: 40%;
    left: 18%;
}

.banner-modal-title{
    font-size: 55px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: Dancing Script;
    cursor: default;
    letter-spacing: 1px;
}

.banner-description{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Open Sans;
    text-shadow: 1px 1px 1px black;
    cursor: default;
}

.sales-button{
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Open Sans;
    letter-spacing: 3px;
    font-weight: bold;
    transition: background-color 0.4s;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    margin-top: 15px;
}

.bottom-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1560px;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.bottom-grid-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.bottom-grid-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.bottom-grid-top-left,
.bottom-grid-top-right{
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-top-left-img,
.bottom-top-right-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(0px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.bottom-grid-bottom-left,
.bottom-grid-bottom-right,
.bottom-grid-bottom-middle{
    width: 1fr;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-bottom-left-img{
    object-fit: cover;
    height: 300px;
    filter: blur(0px);
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.bottom-bottom-modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.336);
    height: 100px;
    border-radius: 5px;
}

.bottom-bottom-modal-message{
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
    letter-spacing: 1px;
}

.bottom-bottom-modal-info,
.bottom-top-modal-info{
    color: rgb(49, 49, 49);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Open Sans;
    font-weight: bold;
    cursor: default;
    letter-spacing: 1px;
}

.bottom-modal-left-button,
.bottom-modal-middle-button,
.bottom-modal-right-button,
.top-modal-left-button,
.top-modal-right-button{
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Open Sans;
    letter-spacing: 3px;
    font-weight: bold;
    transition: background-color 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.bottom-grid-bottom-left:hover .bottom-modal-left-button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

.bottom-grid-bottom-middle:hover .bottom-modal-middle-button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}
.bottom-grid-bottom-right:hover .bottom-modal-right-button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

.bottom-grid-top-left:hover .top-modal-left-button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

.bottom-grid-top-right:hover .top-modal-right-button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
}

.featured-title-bottom{
    font-family: Open Sans;
    font-size: 28px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    margin-top: 0;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(158, 105, 26, 0.603);
    padding-bottom: 8px;
    padding-bottom: 0px;
    cursor: default;
}
