.main-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 10vw;
    padding-right: 10vw;
    column-gap: 20px;
}

.product-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 100px;
}

.filters-container{
    display: flex;

    flex-direction: column;
}

.product{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 353px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}
.image-container-product{
    width: 100%;
    height: 300px;
    position: relative;
}

.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-container-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-modal{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.image-container-product:hover .product-modal{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.404);
}

.product-name{
    margin-top: 5px;
}

.product-name{
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-size: 16px;
    color: rgb(68, 68, 68);
    background-color: transparent;
    border: none;
}

.product-price{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-weight: lighter;
    font-size: 14px;
    font-weight: bold;
    color: rgb(158, 105, 26);
    cursor: default;
}

.add-cart-product,
.search-button-product{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.add-cart-product{
    margin-right: 10px;
}

.search-button-product{
    margin-left: 10px;
}

.product-name{
    cursor: pointer;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 100px;
}

.sidebar-text{
    margin-bottom: 0px;
    letter-spacing: 3px;
    font-family: Open Sans;
    color: rgb(37, 35, 65);
    font-size: 13px;
    font-weight: bold;
    cursor: default;
}

.sidebar-button{
    font-family: Open Sans;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 12px;
}

.price-slider{
    width: 150px;
    cursor: pointer;
    margin-top: 10px;
}


.radio-button{
    display: flex;
    margin-left: 10px;
    margin-bottom: 8px;
}

.radio-button-label{
    font-family: Open Sans;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
}

.type-option{
    cursor: pointer;
    margin-left: 15px;
}

.filter-button{
    background-color: transparent;
    font-family: Open Sans;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0px 0px 12px 10px;
    border: none;
    cursor: pointer;
    text-align: start;
    display: inline-block;
    width: auto;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 200px;
}

.filters-container2{
    margin-top: 10px;
}

@media (max-width:1315px) {
    .product-grid{
        grid-template-columns: 1fr 1fr;
    }
    .product{
        width: 100%;
        min-width: 300px;
    }
    
}

@media (max-width:970px) {
    .product-grid{
        grid-template-columns: 1fr;
    }

    .image-container-product{
        height: 300px;
    }

    .product{
        width: 100%;
        height: auto;
        min-width: 360px;
    }
}

@media (max-width:680px) {
    .product-grid{
        grid-template-columns: 1fr;
    }

    .image-container-product{
        height: 325px;
    }

    .product{
        width: 100%;
    }
    
    .main-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar{
        align-items: center;
    }

    .sidebar-container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .main-grid{
        display: flex;
        flex-direction: column;
    }
}


